
#forecast {
    border: 0px;
}
p {
    font-size: 10px;
}

.forecast-card {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(./images/new-history-forecast-bulk.png);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.form-group {
 opacity: 0.8;
 background-color: lightblue;
 padding: 10px;
}

#currentCity {
 opacity: 0.8;
  background-color: lightblue;
}

#forecast.card-body {
   opacity: 0.8;
   background-color:lightblue;
}

.navbar {
    text-align: center;
}